*{
  margin: 0;
  padding: 0;
}
.headersection{
  overflow: hidden;
  background: #133861;
  padding: 20px;
}
.headersection h4 a{
  color:#fff !important;
}
.left-header{
  float: left;
}
.right-link{
  float: right;

}
.right-link ul{
}
.right-link ul li{
    float: left;
  list-style: none;
}
.right-link ul li a{
  padding: 10px;
  font-size: 20px;
}
.post-section{
  /*background: #e9f0f7; */
  padding: 8px;
  margin-bottom: 3px;
}



.footersetion{
  background: #133861;
}
.text-center{
  padding: 10px;
  color:#fff;
}
